@page
@model FinalProject.Pages.Products.IndexModel

@{
    ViewData["Title"] = "Index";
    // Bool whether user is authenticated
    bool isAuthenticated = (User != null) && User.Identity.IsAuthenticated;
}

<h1>Index</h1>

<p>
    @if (isAuthenticated)
    {
        <text><a type="button" class="btn btn-primary" asp-page="Create">Create New</a></text>
    }
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ImageName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model.Product) {
        string imageFileName = item.ImageName;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                <img src="~/images/@imageFileName" alt="No Image available for this product" width="300" />
            </td>
            <td>
                @if (isAuthenticated)
                {
                    <text><a type="button" class="btn btn-success" asp-page="./Edit" asp-route-id="@item.ID">Edit</a> | </text>
                }
                @if (!isAuthenticated)
                {
                    <a type="button" class="btn btn-secondary" asp-page="./Details" asp-route-id="@item.ID">Details</a>    
                }
                @if (isAuthenticated)
                {
                        <text><a type="button" class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.ID">Delete</a></text>
                }
            </td>
        </tr>
}
    </tbody>
</table>
